body {
    background-color: #142140;
    margin: 0;
    padding: 0;
}

.grid-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 5% 35% 1% 35% 5%;
    grid-gap: 10px;
    column-gap: 100px;
    padding: 0;
  }
  
  .grid-container > div {
    padding: 10px 0;
    font-size: 30px;
    padding-left: 30px;
  }
  
  .header {
    grid-area:1/2;
    background-color: #071332;

  }

  .header2 {
    background-color: #071332;
    grid-area: 1/4;
  }

  .item6 {
    grid-area: 1/5;
  }

  .header>h1, .header2>h1{
    font-family: 'Open Sauce One', sans-serif;
    font-weight: 100;
    font-size: 60px;
    color: #57e4ff;
    text-align: left;
    padding-left: 30px;
    line-height: 40px;
  }

  .phone, .email, .feedback{
    font-family: 'Open Sauce One', sans-serif;
    background-color: white;
  }
  .phone {
    grid-area: 2/2;
  }

  .email{
    grid-area: 3/2;
  }

  .feedback{
    grid-area: 2/4;
  }

  .social{
    background-color: #57e4ff;
    grid-area: 4/2;
    display: flex;
    flex-flow: row;
  }

  .social>h5{
    font-family: 'Open Sauce One', sans-serif;
    margin-right: 240px;
  }

  .social>a{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    transition: transform .5s;
  }

  .social>a:hover{
    transform: scale(1.5);
  }

  .phone>h1,.phone>p,.email>h1,.email>p, .feedback>p{
    text-align: left;
    font-size: 20px;
  }

  button {
    font-size: 18px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
  }
  
  button:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
  }
  
  button:active {
    box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
    transform: translateY(0em);
  }