body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #00c4cc , #039AAA, #056F88, #084566, #0a1a44);
    color: white;
}

#big {
    color: white;
    text-align: center;
    font-family: 'Open Sauce One', sans-serif;
    font-weight: 340;
    font-size: 45px;
}

#underbig{
    color: white;
    text-align: center;
    font-family: 'Open Sauce One', sans-serif;
    font-weight: 340;
    margin-top: 20px;
}

.boxes{
    background-color: #00c4cc;
    color: white;
    border-radius: 25px;
    padding: 20px; 
    width: 360px;
    height: 520px;
    display: inline-block;
    text-align: center;
    margin-top: 40px;
    font-family: 'Open Sauce One', sans-serif;
    box-shadow: 5px 10px 18px #056F88;
}
#center_box{
    align-content: center;
    display: flex;
    justify-content: space-evenly;    
}

.boxes p{
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
    font-family: 'Open Sauce One', sans-serif;
    text-align: left;
}

#contact{
    margin-top: 300px;
    width: 2000px;
    height: 500px;
    background-color:#0a1a44;
}