body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #00c4cc , #039AAA, #056F88, #084566, #0a1a44);
    color: white;
}

#big {
    color: white;
    text-align: center;
    font-family: Trebuchet, sans-serif;
    font-weight: 340;
    font-size: 45px;
}

#underbig{
    color: white;
    text-align: center;
    font-family: Trebuchet, sans-serif;
    font-weight: 340;
    margin-top: 20px;
}

.boxes{
    background-color: #00c4cc;
    justify-content: center;
    color: white;
    font-family: Trebuchet, sans-serif;
    border-radius: 25px;
    padding: 20px; 
    width: 360px;
    height: 520px;
    display: inline-block;
    text-align: center;
    margin-top: 40px;
    margin-left: 120px;

}
